div.injected-blacklist-toggle {
    position: absolute;
    right: 35%;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);

    border-radius: 5px;
    padding: 4px 10px;
    border: 1px solid #785700;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-family: mySecondFont;
}

div.injected-blacklist-toggle                        { background-color: #64C564; }
div.injected-blacklist-toggle:hover                  { background-color: #44b744; }
div.injected-blacklist-toggle.show-blacklisted       { background-color: #C76666; }
div.injected-blacklist-toggle.show-blacklisted:hover { background-color: #ba4444; }
