div.injected-pagination-wrapper {    
    position: absolute;
    top: 0;
    bottom: 1px;
    right: 0;

    display: flex;
    align-items: center;
}

div.injected-pagination-wrapper > span {
    display: block;
    margin: 0 5px;
    padding: 3px 8px;
    color: black;
    transition: all 0.3s linear 0s;
    font-size: 12px;
    cursor: pointer;
}

div.injected-pagination-wrapper > span.selected, div.injected-pagination-wrapper > span:hover {
    background-color: #00a651;
    color: #fff;
}